
    <div id="panelinstrucc">
    <h1 role="presentation" tabindex="0">
                Examen de ingreso a la Universidad Veracruzana para personas con discapacidad visual.
    </h1>
    <form method="POST" action="">
        <br>
        <label for="txtUsuario" tabindex="0">Ingrese la clave única de acceso</label>
        <br>
        <input tabindex="0" type="password" id="txtUsuario" name="txtUsuario" />
        <br>
        <br>
        <input tabindex="0" type="submit" id="btnSubmit" name="btnSubmit" value="Ingresa al examen"/>
        <br>
    </form>
    
